@import "tailwindcss";

@theme {
  --color-market-orange: #ff6f0f;
  --color-market-gray: #f2f3f6;
  --animate-spin-slow: spin 8s linear infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
